.minha-navbar {
  background-color: rgb(221, 69, 69);
  position: relative; 
  height: 130px;  
}

.links_pag {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(40%);
}

.nav-link {
  color: rgb(255, 252, 252);
  font-weight: bold;
  font-size: 1.2rem;  
  text-decoration: none; 
  margin: 0 10px;  
}

.pesquisa-container {
  position: absolute;
  left: 300px;
  width: 600px;
}

.resultados-pesquisa {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.resultado-item {
  padding: 10px;
  cursor: pointer;
  background-color: aliceblue;
  width: 300px;
}

.buscar-botao {
  background-color: white;
  color: rgb(221, 69, 69);
  font-weight: bold;
}