<nav class="navbar minha-navbar">

  <div class="container-fluid">


    <a class="navbar-brand logo">

      <img
        src="/KantoTrainer_Transparente.png"
        alt="KantoTrainer"
        width="140"
        class="me-2"
      >

    </a>


    <div class="pesquisa-container">


      <form
        class="d-flex barra-pesquisa"
        (submit)="$event.preventDefault()"
      >


        <input
          class="form-control me-2"

          type="search"

          placeholder="Buscar Pokémon"

          aria-label="Search"

          name="pesquisa"

          [(ngModel)]="pesquisa"
        >


        <button
          class="btn buscar-botao"

          type="button"
        >

          Procurar

        </button>


      </form>


      @if (
        pesquisa.length > 0
      ) {


        <div
          class="resultados-pesquisa"
        >


          @for (

            pokemon of filtrarPokemon();

            track pokemon.id

          ) {


            <div

              class="resultado-item"

              (click)="
                selecionarPokemon(pokemon)
              "

            >

              #{{ pokemon.id }}

              -

              {{ pokemon.nome }}

            </div>


          }


        </div>


      }


    </div>


    <ul class="links_pag nav nav-tabs">





  <li class="nav-item">

    <a
      class="nav-link"

      routerLink="/pokedex"
    >

      Pokédex

    </a>

  </li>


  <li class="nav-item">

    <a
      class="nav-link"

      routerLink="/meu-time"
    >

      Meu Time

    </a>

  </li>


  <li class="nav-item">

    <a
      class="nav-link"

      routerLink="/creditos"
    >

      Créditos

    </a>

  </li>

    </ul>


  </div>

</nav>