<div class="container mt-4">

  <div class="table-responsive">

    <table class="table table-hover align-middle">

      <thead>
        <tr>
          <th>#</th>
          <th>Linha Evolutiva</th>
        </tr>
      </thead>

      <tbody>

        @for (familia of pokemonService.familias; track familia.numero) {

          <tr>

            <td class="numero-pokedex">
              #{{ familia.numero.toString().padStart(3,'0') }}
            </td>

            <td>

              <div class="d-flex align-items-center gap-3">

                @for (pokemon of familia.pokemons; track pokemon.id; let last = $last) {

                  <div class="pokemon text-center">

                    <img
                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png"
                      alt="{{ pokemon.nome }}"
                    >

                    <h5>{{ pokemon.nome }}</h5>

                    @for (tipo of pokemon.tipos; track tipo) {

                      <span 
                      class="badge"
                      [class.tipo-planta]="tipo==='Planta'"
                      [class.tipo-veneno]="tipo==='Veneno'"
                      [class.tipo-fogo]="tipo==='Fogo'"
                      [class.tipo-agua]="tipo==='Água'"
                      [class.tipo-voador]="tipo==='Voador'"
                      [class.tipo-eletrico]="tipo==='Elétrico'"
                      [class.tipo-inseto]="tipo==='Inseto'"
                      [class.tipo-lutador]="tipo==='Lutador'"
                      [class.tipo-psiquico]="tipo==='Psíquico'"
                      [class.tipo-pedra]="tipo==='Pedra'"
                      [class.tipo-gelo]="tipo==='Gelo'"
                      [class.tipo-normal]="tipo==='Normal'"
                      [class.tipo-terrestre]="tipo==='Terrestre'"
                      [class.tipo-dragao]="tipo==='Dragão'"
                      [class.tipo-fantasma]="tipo==='Fantasma'"
                      

                      
                      >
                      
                     {{tipo}}
                     
                      </span>

                    }

                  </div>
                  @if (!last) {
                    <span class="seta"> → </span>
                  }
                }

              </div>

            </td>

          </tr>

        }

      </tbody>

    </table>

  </div>

</div>