<div class="pokedex-container">




  @if (carregando) {

    <p class="mensagem">
      ⏳ Carregando Pokémon...
    </p>

  }


  @if (erro) {

    <p class="erro">

      {{ erro }}

    </p>

  }


  @if (!carregando && pokemons.length > 0) {
 <br>
 <br>

    <div class="pokemon-grid">


      @for (
        pokemon of pokemons;
        track pokemon.id
      ) {

        <div
          class="pokemon-card"
          (click)="abrirPokemon(pokemon)"
        >


          <div class="numero">

            #{{ pokemon.id
              .toString()
              .padStart(3, '0')
            }}

          </div>


          <img

            [src]="
              'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'
              +
              pokemon.id
              +
              '.png'
            "

            [alt]="pokemon.nome"


            (error)="
              $any($event.target).style.display =
              'none'
            "

          >


          <h2>

            {{ pokemon.nome }}

          </h2>


          <button
            type="button"
          >

            Ver detalhes

          </button>


        </div>

      }


    </div>

  }


  @if (
    !carregando &&
    pokemons.length === 0 &&
    !erro
  ) {

    <p class="mensagem">

      Nenhum Pokémon encontrado.
      
      <img src="https://media.tenor.com/sUigUVXeBU0AAAAm/charizard-pokemon.webp" >

    </p>

  }


</div>