.titulo-pokedex {

  text-align: center;

  margin-bottom: 10px;

}


.contador {

  text-align: center;

  margin-bottom: 30px;

  font-size: 18px;

}


.pokemon-grid {

  display: grid;

  grid-template-columns:
    repeat(
      auto-fill,
      minmax(180px, 1fr)
    );

  gap: 20px;

}


.pokemon-card {

  text-align: center;

  cursor: pointer;

  padding: 20px;

  border: 1px solid #ccc;

  border-radius: 12px;

  background: white;

  transition:
    transform 0.2s,
    box-shadow 0.2s;

}


.pokemon-card:hover {

  transform:
    scale(1.05);

  box-shadow:
    0 5px 15px rgba(0, 0, 0, 0.15);

}


.pokemon-card img {

  width: 120px;

  height: 120px;

  object-fit: contain;

  image-rendering: pixelated;

}


.pokemon-card h2 {

  margin-top: 10px;

  font-size: 20px;

}


.numero {

  font-weight: bold;

  color: #777;

  margin-bottom: 5px;

}


.pokemon-card button {

  margin-top: 10px;

  padding: 8px 15px;

  border: none;

  border-radius: 6px;

  cursor: pointer;

}


.carregando {

  text-align: center;

  margin-top: 50px;

}